<!--
 * @Author: wangyunbo
 * @Date: 2022-07-06 15:34:04
 * @LastEditors: wangyunbo
 * @LastEditTime: 2022-07-06 16:07:38
 * @FilePath: \vueInone\OOS\sso-consumer\views\index.ejs
 * @Description: file content
-->
<% layout('boilerplate') -%>
<h1>I am the <%= what %></h1>